.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.FrontendMaster-root-1 a{
  text-decoration: none;
  color:#fff;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.jss82,.jss167{
  margin-top:-7px!important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-field-control{
  width:500px;
}

.active > div:first-child{
  background: #3f51b5!important;
}

.active span,.active svg{
    color:#fff!important;
}

.nv-link a{
  text-decoration: none;
}

.nv-link a:focus{
  outline: none;
}


#content {
  margin-top: 25px;
  text-align: center;
}

section.timeline-outer {
  width: 100%;
  margin: 0 auto;
}

h1.header {
  font-size: 50px;
  line-height: 70px;
}
/* Timeline */

.timeline-job {
  border-left: 8px solid #42A5F5;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 25px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 20px;
  list-style: none;
  text-align: left;
}

.timeline-job h1,
.timeline-job h2,
.timeline-job h3 {
  font-size: 1.4em;
}

.timeline-job .event {
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.timeline-job .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline-job .event:before,
.timeline-job .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-job .event:before {
  left: -177.5px;
  color: #212121;
  content: attr(data-date);
  text-align: right;
  /*  font-weight: 100;*/

  font-size: 16px;
  min-width: 120px;
}

.timeline-job .event:after {
  box-shadow: 0 0 0 8px #42A5F5;
  left: -30px;
  background: #212121;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
/**/
/*——————————————
Responsive Stuff
———————————————*/

@media (max-width: 945px) {
  .timeline-job .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline-job h3 {
    font-size: 16px;
  }
  .timeline-job p {
    padding-top: 20px;
  }
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }
}

@media (max-width: 768px) {
  .timeline-job .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline-job .event:nth-child(1)::before,
  .timeline-job .event:nth-child(3)::before,
  .timeline-job .event:nth-child(5)::before {
    top: 38px;
  }
  .timeline-job h3 {
    font-size: 16px;
  }
  .timeline-job p {
    padding-top: 20px;
  }
}
/*——————————————
others
———————————————*/

a.portfolio-link {
  margin: 0 auto;
  display: block;
  text-align: center;
}

/*chat frame*/
.panth-input-chat{
  margin-top:0!important;
  width:calc(100% - 55px);
}

nav a, ul a {
  text-decoration: none;
  outline: none;
}
.MuiList-padding-279,.MuiList-padding-129 {
  padding:0!important;
}

.pantheon-select-approve:before{
  border-bottom:0!important
}

/*dashboard*/
.pan-dash-maincontent-open{
  width: calc(100% - 320px);
  margin-left: 300px;
  transition: all 0.3s ease;
}

.pan-dash-maincontent-close{
  width: 100%;
  margin-left: 0;
  transition: all 0.3s ease;
  padding:0 15px!important;
}

/*create post*/
.pan-post-infomations {
   border-collapse: collapse;
   width:100%;
}

.pan-post-infomations td {
    border: 1px solid #f0f0f0;
}


td.pan-post-td-first{
  width:25%;
  background:#F9F9F9;
  padding-left: 15px;
  border-bottom: 1px solid black;
  border-left: 0;
}

.pan-post-infomations tr:last-child td.pan-post-td-first {
    border-bottom: 0;
}



td.pan-post-td-first span{
  font-weight: bold;

}

td.pan-post-td-second{
  padding:15px;
  border-right:0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ddd;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ddd;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ddd;
}
